@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
body {
	background: #dedede;
}
.contenedor{
	width: 350px;
	height: 600px;
	border: 1px solid black;
	margin: 0 auto;
	background: white;
}

.img1{
	margin:0 auto;
	display: block;
}

.img2{
	position: absolute;
	top: -75px;
	left: 140px;
	position: relative;
}
.img3{
	position: absolute;
	left: 145px;
	top: -75px;
	position: relative;
}
.img4{
	position: absolute;
	top: -75px;
	left: 150px;
	position: relative;
	

}
.img5{
	position: absolute;
	position: relative;
	left: 200px;
	top: -52px;


}
.img6{
	position: absolute;
	position: relative;
	top: -80px;
	left: 163px;


}

	
h1 {
	text-align: center;
	font-family: 'Raleway';
	margin-top: -50px;
   
}
h4 {

	font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #A3A7BA;
}
h3{
	font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    left: 0px;



    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #A3A7BA;
}


